Repository igordosreis/boilerplate-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts, jsx,tsx}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

build: change lint-staged config
  .lintstagedrc.json
Due: none

test: test husky hook and lint-staged eslint
  .lintstagedrc.json
Due: none

test: test lint-staged stylelint
  .lintstagedrc.json
  .stylelintrc.json
  package-lock.json
  package.json
  src/styles/globals.scss
Due: stylelint --fix

test: test lint-staged stylelint
  src/styles/globals.scss
Due: stylelint --fix

test: test lint-staged stylelint
  .lintstagedrc.json
Due: none

test: test lint-staged stylelint
  .lintstagedrc.json
  src/styles/globals.scss
Due: stylelint --fix

test: test
  .lintstagedrc.json
  package-lock.json
  src/styles/globals.scss
Due: stylelint --fix

test: test
  .lintstagedrc.json
Due: none

test: test
  .backup-lintstagedrc.json
  .lintstagedrc.js
  src/pages/_app.tsx
Due: eslint --fix

test: test
  lint-staged.config.js
  src/pages/_app.tsx
Due: eslint --fix

test: test
  .lintstagedrc.js
  src/pages/_app.tsx
Due: eslint --fix

test: test
  .backup-lintstagedrc.js
  .lintstagedrc.json
  src/pages/_app.tsx
Due: eslint --fix

test: test
  src/styles/Home.module.scss
Due: stylelint --fix

test: test
  package.json
  src/styles/Home.module.scss
  src/styles/globals.scss
Due: stylelint --fix

test: test
  src/styles/globals.scss
Due: stylelint --fix

test: test lint-staged stylelint
  .lintstagedrc.json
  package.json
  src/pages/_app.js
Due: eslint --fix

build: delete backup lintstagedrc
  .backup-lintstagedrc.js
Due: eslint --fix

docs: add readme
  README.md
Due: none

build: change prettier config
  .prettierrc.json
Due: none

build: added css reset
  src/styles/globals.scss
Due: stylelint --fix

fix: fixed stylelint script
  package.json
  src/styles/globals.scss
Due: stylelint --fix

test: testing husky hook
  .lintstagedrc.json
  .prettierrc.json
  package.json
  src/pages/_app.js
  src/pages/index.tsx
  src/styles/globals.scss
Due: eslint --fix, stylelint --fix

fix: fixed lint-staged config
  .husky/pre-commit
  .lintstagedrc copy.json
  lint-staged.config.js
  package.json
  src/pages/index.tsx
Due: eslint --fix

docs: changed readme description
  README.md
  package-lock.json
  package.json
  src/pages/index.tsx
Due: eslint --fix

build: added simple boilerplate options
  .eslintrc.json
  .prettierrc.json
  src/components/component-boilerplate.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/globals.scss
Due: eslint --fix, stylelint --fix

build: added simple boilerplate options
  src/styles/globals.scss
Due: stylelint --fix

build: update eslint and prettier rules
  .eslintrc.json
  .prettierrc.json
Due: none

docs: add language markers
  README.md
Due: none

docs: add english readme
  README.md
Due: none

docs: add portuguese version
  README.md
Due: none

Update README.md
  README.md
Due: none

docs: fix readme
  README.md
Due: none

docs: update readme
  README.md
Due: none
